<div class="background-image-main">
  <div class="center-content" >
    <div class="header">

      <%= image_tag 'food1.png' ,:class => 'index-image'%>
      <h2><span>iBonAppetit<br />Dine with Strangers<br><br />

        <div class="ui fluid icon input">
          <input type="text" placeholder="Search city...">
          <i class="search icon"></i>
        </div>
      </span></h2>



    </div>
  </div>
</div>
