<div class="ui fixed vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="footer-text">
        <h1 class="ui inverted header">iBonAppetit</h1>
        <p>The world number 1 innovative social dining app for the global citizens</p>
        <p>8 Claymore Hill #03-01 Singapore 088703 +65 0938 7383</p>
        </div>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="#">Site Map</a>
      <a class="item" href="#">Contact Us</a>
      <a class="item" href="#">Terms and Conditions</a>
      <a class="item" href="#">Privacy Policy</a>
    </div>
  </div>
</div>
