<nav class="navbar navbar-static-top navbar-light bg-faded">
  <div class="container-fluid">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation"> &#9776;</button>

      <!-- Brand -->
      <a class="navbar-brand" href="/">ibonappetit</a>

      <div class="collapse navbar-toggleable-xs" id="e  xCollapsingNavbar2">
        <ul class="nav navbar-nav">
          <!-- Links -->
          <ul class="nav navbar-nav pull-xs-right">
            <%if @current_user != nil%>

            <%end%>

            <% if @current_user %>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= @current_user.first_name %></a>

              </li>

              <li class="nav-item">
                  <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item"> <a class="nav-link" href="/users/new">Sign Up</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/login">Log In</a> </li>
            <% end %>

          </ul>
        </div> <!--end of <div class="collapse navbar-toggleable-xs" -->
  </div><!--End of <div> container-fluid-->
</nav>
