// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .reservationShowPage {
//   max-width: 70%;
//   margin: 0 auto;
//   background: goldenrod;
//   padding: 20px;
// }

.index-image {
  resize: both;
  width: 100%;
  height: 650px;
  filter:opacity(75%);
  position: relative;
}

p {
  font-size: 1.5em
}

h2 {
   position: absolute;
   top: 250px;
   width: 100%;
   text-align: center;
   font-size: 60px;
   color: white;
}

.ui.fluid.input {
  width: 70%;
  height: 75px;
  margin: 0 auto;
  font-size: 30px;
}
